<div ng-repeat="element in $ctrl.elements"
     class="ob-element cypress-element-container"
     ng-if="$ctrl.conditionallyShow($ctrl, element)"
     ng-switch="::element.type"
     ob-lookup="::element"
     data-cypress-element-name="{{::element.name}}">
  <heading ng-switch-when="heading"
           element="::element"
           class="cypress-heading-element"></heading>
  <barcode-scanner ng-switch-when="barcodeScanner"
                   element="::element"
                   initial-value="::$ctrl.model[element.name]"
                   update-property="$ctrl.onUpdateProperty(element, value)"
                   class="cypress-barcode-scanner-element"></barcode-scanner>
  <text ng-switch-when="text"
        element="::element"
        initial-value="::$ctrl.model[element.name]"
        update-property="$ctrl.onUpdateProperty(element, value)"
        class="cypress-text-element"></text>
  <text-area ng-switch-when="textarea"
             element="::element"
             initial-value="::$ctrl.model[element.name]"
             update-property="$ctrl.onUpdateProperty(element, value)"
             class="cypress-textarea-element"></text-area>
  <date ng-switch-when="date"
        element="::element"
        initial-value="::$ctrl.model[element.name]"
        update-property="$ctrl.onUpdateProperty(element, value)"
        class="cypress-date-element"></date>
  <date-time ng-switch-when="datetime"
             element="::element"
             initial-value="::$ctrl.model[element.name]"
             update-property="$ctrl.onUpdateProperty(element, value)"
             class="cypress-date-time-element"></date-time>
  <time ng-switch-when="time"
        element="::element"
        initial-value="::$ctrl.model[element.name]"
        update-property="$ctrl.onUpdateProperty(element, value)"
        class="cypress-time-element"></time>
  <number ng-switch-when="number"
          element="::element"
          initial-value="::$ctrl.model[element.name]"
          update-property="$ctrl.onUpdateProperty(element, value)"
          class="cypress-number-element"></number>
  <radio ng-switch-when="radio"
         element="::element"
         initial-value="::$ctrl.model[element.name]"
         update-property="$ctrl.onUpdateProperty(element, value)"
         conditionally-show-option-filter="$ctrl.conditionallyShowOptionFilter($ctrl, element)"
         class="cypress-radio-element"></radio>
  <checkbox ng-switch-when="checkboxes"
            element="::element"
            initial-value="::$ctrl.model[element.name]"
            update-property="$ctrl.onUpdateProperty(element, value)"
            conditionally-show-option-filter="$ctrl.conditionallyShowOptionFilter($ctrl, element)"
            class="cypress-checkbox-element"></checkbox>
  <select-box ng-switch-when="select"
              element="::element"
              initial-value="::$ctrl.model[element.name]"
              update-property="$ctrl.onUpdateProperty(element, value)"
              conditionally-show-option-filter="$ctrl.conditionallyShowOptionFilter($ctrl, element)"
              class="cypress-select-element"></select-box>
  <location ng-switch-when="location"
            element="::element"
            initial-value="::$ctrl.model[element.name]"
            update-property="$ctrl.onUpdateProperty(element, value)"
            class="cypress-location-element"></location>
  <camera ng-switch-when="camera"
          element="::element"
          initial-value="::$ctrl.model[element.name]"
          update-property="$ctrl.onUpdateProperty(element, value)"
          class="cypress-camera-element"></camera>
  <signature ng-switch-when="draw"
             element="::element"
             initial-value="::$ctrl.model[element.name]"
             update-property="$ctrl.onUpdateProperty(element, value)"
             class="cypress-signature-element"></signature>
  <repeatable-set ng-switch-when="repeatableSet"
                  element="::element"
                  name="{{::element.name}}"
                  ng-model="$ctrl.model[element.name]"
                  conditionally-show="$ctrl.conditionallyShow"
                  conditionally-show-option-filter="$ctrl.conditionallyShowOptionFilter"
                  class="cypress-repeatable-set-element"
                  odd-or-even="{{::$ctrl.oddOrEven}}"
                  update-property="$ctrl.onChange({ $elementNamePath: element.name, $element: element, $value })"
                  update-nested-property="$ctrl.onChange({ $elementNamePath: element.name + '|' + $elementNamePath, $element, $value })"
                  parent-form-name="::$ctrl.parentFormName"></repeatable-set>
  <ob-html ng-switch-when="html"
           element="::element"
           class="cypress-html-element">
  </ob-html>
  <captcha ng-switch-when="captcha"
           element="::element"
           update-property="$ctrl.onUpdateProperty(element, value)"
           class="cypress-captcha-element"></captcha>
  <email ng-switch-when="email"
         element="::element"
         initial-value="::$ctrl.model[element.name]"
         update-property="$ctrl.onUpdateProperty(element, value)"
         class="cypress-email-element"></email>
  <ob-image ng-switch-when="image"
            element="::element"
            class="cypress-image-element"></ob-image>
  <ob-file ng-switch-when="file"
           element="::element"
           initial-value="::$ctrl.model[element.name]"
           update-property="$ctrl.onUpdateProperty(element, value)"
           class="cypress-file-element"></ob-file>
  <ob-files ng-switch-when="files"
            element="::element"
            initial-value="::$ctrl.model[element.name]"
            update-property="$ctrl.onUpdateProperty(element, value)"
            class="cypress-files-element"></ob-files>
  <calculation ng-switch-when="calculation"
               element="::element"
               update-property="$ctrl.onUpdateProperty(element, value)"
               class="cypress-calculation-element"
               parent-form-name="::$ctrl.parentFormName"></calculation>
  <telephone ng-switch-when="telephone"
             element="::element"
             initial-value="::$ctrl.model[element.name]"
             update-property="$ctrl.onUpdateProperty(element, value)"
             class="cypress-telephone-element"></telephone>
  <ob-autocomplete ng-switch-when="autocomplete"
                   ng-if="element.optionsType !== 'SEARCH'"
                   element="::element"
                   initial-value="::$ctrl.model[element.name]"
                   conditionally-show-option-filter="$ctrl.conditionallyShowOptionFilter($ctrl, element)"
                   update-property="$ctrl.onUpdateProperty(element, value)"
                   class="cypress-autocomplete-element"></ob-autocomplete>
  <ob-autocomplete-search ng-switch-when="autocomplete"
                          ng-if="element.optionsType === 'SEARCH'"
                          element="::element"
                          initial-value="::$ctrl.model[element.name]"
                          conditionally-show-option-filter="$ctrl.conditionallyShowOptionFilter($ctrl, element)"
                          update-property="$ctrl.onUpdateProperty(element, value)"
                          class="cypress-autocomplete-search-element"></ob-autocomplete-search>
  <ob-summary ng-switch-when="summary"
              element="::element"
              update-property="$ctrl.onUpdateProperty(element, value)"
              class="cypress-summary-element"></ob-summary>
  <ob-lookup-notification></ob-lookup-notification>
  <form-elements elements="element.elements"
                 ng-switch-when="form|infoPage"
                 ng-switch-when-separator="|"
                 ng-form="ngForm-{{::element.name}}"
                 model="$ctrl.model[element.name]"
                 conditionally-show="::$ctrl.conditionallyShow"
                 conditionally-show-option-filter="::$ctrl.conditionallyShowOptionFilter"
                 odd-or-even="{{::$ctrl.oddOrEven}}"
                 on-change="$ctrl.onUpdateNestedProperty(element, $elementNamePath, $element, $value)"
                 on-change-elements="element.elements = $elements"
                 parent-form-name="::$ctrl.parentFormName ? $ctrl.parentFormName+'|'+element.name : element.name">
  </form-elements>
</div>
