<div ng-switch="$ctrl.element.headingType" class="ob-form__element ob-heading">
  <h1 ng-switch-when="1" class="ob-heading__text title is-1">{{::$ctrl.element.label}}</h1>
  <h2 ng-switch-when="2" class="ob-heading__text title is-2">{{::$ctrl.element.label}}</h2>
  <h3 ng-switch-when="3" class="ob-heading__text title is-3">{{::$ctrl.element.label}}</h3>
  <h4 ng-switch-when="4" class="ob-heading__text title is-4">{{::$ctrl.element.label}}</h4>
  <h5 ng-switch-when="5" class="ob-heading__text title is-5">{{::$ctrl.element.label}}</h5>
</div>
